<div class="container">
<div class="row">
<div class= "col m12">

<h2>Sign up</h2>
<div class="row">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s12">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <div class="input-field col s12">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", :class => "btn" %>
  </div>
<% end %>
 
 </div>
 
 <%= render "devise/shared/links" %>
</div>
</div>
</div>