<li class="list-group-item" id="task_id_<%= task.id %>" data-id="<%= task.id %>" style="<%= "opacity:0.4" if task.status? %>"> 
 <div class="row">
    <div class="col-md-1 col-sm-1">  
        <%= link_to complete_project_task_path(task.project, task) , method: :patch, remote: true do %>
         <%= check_box_tag 'task_checked_#{ task.id }', 'check', task.status? ? true : false %>
        <% end %>
    </div>
         
    <div class="col-md-9 col-sm-9"> 
      <%= task.name %> 
    </div>
    
    <div class="col-md-2 col-sm-2">
       <a class="icons-task" > <i class="glyphicon glyphicon-sort grey" ></i></a>
        <a data-toggle="modal" data-target="#edit_task_<%= task.id %>" class="icons-task colons" >
         <i class="glyphicon glyphicon-pencil grey"></i>
        </a>
      
      <%= link_to project_task_path(task.project, task), remote: true, method: :delete, :class => "icons-task" do %>
      <i class="glyphicon glyphicon-trash grey"></i>
      <% end %>
    </div>
  </div>
</li>

<%= render 'tasks/update_form', task: task %>