
<div class="card"  id="project_id_<%= project.id %>">
  
  <!-- Project -->
  <div class="card-panel teal lighten-2 center">
    <h2><%= project.name %></h2>
    
     <%= link_to "", :onclick => "$('#edit_prod_#{ project.id }').openModal();" , remote: true do %>
     <i class="material-icons">mode_edit</i>
     <% end %>
    
     <%= link_to project_path(project), remote: true, method: :delete do %>
     <i class="material-icons">delete</i>
     <%	 end %>
    
  </div>

  <!-- Add Task -->
  <%= render "tasks/form" , { project: @project = Project.find(project.id) }%>
 
  <!-- Tasks -->
  <ul class="collection sortable"  id="list_project_<%= project.id %>" >
    
    <% Project.find(project.id).task.each do |task| %>
    <%= render task, { project: Project.find(project.id) } %>
    <% end %>
  </ul>
  
</div>


<!-- update project  -->
<div id="edit_prod_<%= project.id %>" class="modal">
    <div class="modal-content">
        
    <%= form_for @project, remote: true, method: :patch do |f| %>
	<%= f.text_field :name, :value => project.name , :required => "required", :minlength => "2" %><br>
	<%= f.submit :class => "btn", :value => "Update Project" %>
    <%end %>

</div>
</div>