<div class="container"  id="project_id_<%= project.id %>">
  <div class="row project">
      <div class= "col-md-1 col-sm-1 first icon-top">
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
          
      <div class= "col-md-9 col-sm-1 second">
        <h5 style="color:white; font-size: 17px;" ><b><%= project.name %></b></h5>
      </div>
           
      <div class= "col-md-1 col-sm-1 first icon-top">
        <a data-toggle="modal" data-target="#edit_prod_<%= project.id %>" >
        <i class="glyphicon glyphicon-pencil grey-blue one-colons"></i>
        </a>
      </div>

      <div class= "col-md-1 first icon-top">
        <%= link_to project_path(project), remote: true, method: :delete do %>
        <i class="glyphicon glyphicon-trash grey-blue"></i>
        <% end %>
      </div>
  </div>
  
  <%= render "tasks/form", project: project %>
  
  <ul class="list-group sortable"  id="list_project_<%= project.id %>" >
    <% project.task.each do |task| %>
      <%= render task %>
    <% end %>
  </ul> 
</div>

<%= render 'projects/update_form', project: project %>






